{% extends 'base.html' %}

{% block title %}About - Stock Price Prediction{% endblock %}

{% block content %}
    <h1>About Stock Price Prediction</h1>
    <p>
        This application predicts stock prices by integrating Yahoo Finance for data retrieval, Facebook Prophet for forecasting, and Flask as the web framework.

        In its current state, the application provides a basic framework for stock price prediction. It's a prototype that demonstrates the potential of integrating Flask, Yahoo Finance, and Facebook Prophet. However, it requires further development and testing to enhance its accuracy and functionality. The "current prices" are actually just the price form Dec 31st 2023 for the time being.

{% endblock %}
